{% extends "skeleton.html" %}
{%block content%}

    <main class = present>
      Voici nos guides qui font vivre notre association d'escaladeurs passionnés
      <br><br><br><br>
    </main>
    <table class = "table_niv">
      <thead>
          <tr>
              <th>Numéro d'adhérent</th>
              <th>Prénom et nom</th> 
          </tr>
      </thead>
      <tbody>
        {% for donnee in personnes %}
          <tr>
              <td>{{donnee.id_adherent}}</td><td><a href="/nos_guides/{{donnee.prenom}} {{donnee.nom}} {{donnee.id_adherent}}">{{donnee.prenom}} {{donnee.nom}}</a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
{%endblock%}
      


